@import '../../components/variables.css';

.root {
  color: white;
  border-radius: 3px;
}

.container {
  padding: 20px;
}

.clientForm {
  display: flex;
  flex-direction: column;

}

input::after {

}


.submitButton{
  border-radius: 2px;
  width: 75px;
}
