@import '../../components/variables.css';


.root {
  margin: 15px 0;
}

.container {
  background-color: var(--color-2);
  padding: 10px 10px;
}

.row {
  margin: 0 10px;

}

.editorButton {
  padding: 5px 10px;
}

a {
  text-decoration: none;
  color : var(--color-4);
}

a:hover {
  color : var(--color-1);
}
