@import '../variables.css';

.sliderContainer {
    margin: 0 auto;
    min-width: 0;
    max-width: 80vw;
    padding: 40px 0;
}

.slideImage {
    display: inline;
    /* float: left; */
    max-height: 100px;
    max-width: 120px;
}
