@import '../variables.css';

.sliderContainer {
    margin: 0 auto;
    min-width: 0;
    max-width: 70vw;
    padding-bottom: 30px;
}

.slideImage {
    display: inline;
    /* float: left; */
    max-height: 90px;
    max-width: 110px;
}
